*{
margin: 0;
padding: 0;
box-sizing:border-box ;
}

body{
    margin: 0;
    padding: 0;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color:rgb(4, 10,58);
    color: aliceblue;
}
.logo{
    display:flex;
}
.img-logo{
    margin: auto;
    height: 40px;
    padding-right: 8px;
}
.logo h2{
    margin: 5px auto;
    font-size: 25px;
    text-align: center;
    font-family:Verdana, ;
    

}

.conectadods-img{
    width: 40%;
    margin-left: 50px;
    margin-top: 10%;
}


footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #11023c;
    color: #f4f4f4;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;


}
